<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <add key="OutputLocation" value="c:\dev\wheel_selection.txt"/>
    <add key="OutputMethod" value="Overwrite"/>
    <add key="ClearOutputFileOnStart" value="true"/>
    <add key="ClearOutputFileOnEscape" value="true"/>
    <add key="WindowBackgroundColor" value="Black"/>
    <add key="SelectedTextColor" value="SteelBlue"/>
    <add key="Offset1TextColor" value="Silver"/>
    <add key="Offset2TextColor" value="Gray"/>
    <add key="Offset3TextColor" value="DimGray"/>
  </appSettings>
</configuration>
