<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="OutputLocation" value="c:\dev\wheel_selection.txt" />
    <add key="OutputMethod" value="Overwrite" />
    <add key="ClearOutputFileOnStart" value="true" />
    <add key="ClearOutputFileOnEscape" value="true" />
    <add key="SyncWithWindowsTheme" value="true" />
    <add key="DefaultTheme" value="LightMode" />
    
    <add key="LightModeWindowBackgroundColor" value="White" />
    <add key="LightModeSelectedTextColor" value="SteelBlue" />
    <add key="LightModeOffset1TextColor" value="Silver" />
    <add key="LightModeOffset2TextColor" value="Gray" />
    <add key="LightModeOffset3TextColor" value="DimGray" />

    <add key="DarkModeWindowBackgroundColor" value="Black" />
    <add key="DarkModeSelectedTextColor" value="SteelBlue" />
    <add key="DarkModeOffset1TextColor" value="Silver" />
    <add key="DarkModeOffset2TextColor" value="Gray" />
    <add key="DarkModeOffset3TextColor" value="DimGray" />
  </appSettings>
</configuration>