<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="OutputLocation" value="c:\dev\wheel_selection.txt" />
    <add key="OutputMethod" value="Overwrite" />
    <add key="ClearOutputFileOnStart" value="true" />
    <add key="ClearOutputFileOnEscape" value="true" />
    <add key="SyncWithWindowsTheme" value="true" />
    <add key="DefaultTheme" value="LightMode" />
    <add key="LightModeWindowBackgroundColor" value="White" />
    <add key="LightModeBorderColor" value="Red" />
    <add key="LightModeInputTextColor" value="SteelBlue" />
    <add key="LightModeSelectedTextColor" value="SteelBlue" />
    <add key="LightModeOffset1TextColor" value="Silver" />
    <add key="LightModeOffset2TextColor" value="Gray" />
    <add key="LightModeOffset3TextColor" value="DimGray" />
    <!--<add key="DarkModeWindowBackgroundColor" value="#181a1b" />-->
    <!--<add key="DarkModeWindowBackgroundColor" value="#21202e" />-->
    <add key="DarkModeWindowBackgroundColor" value="#1c1b22" />
    <add key="DarkModeBorderColor" value="#49c29a" />
    <add key="DarkModeInputTextColor" value="#49c29a" />
    <add key="DarkModeSelectedTextColor" value="#7964be" />
    <add key="DarkModeOffset1TextColor" value="Gray" />
    <add key="DarkModeOffset2TextColor" value="Gray" />
    <add key="DarkModeOffset3TextColor" value="DimGray" />
  </appSettings>
</configuration>